#!/usr/bin/bash

__repo_root="$(dirname "$(realpath -- "${BASH_SOURCE[0]-$0}")")"

# all directories created by carton
__local_dirs=(
  $(find "$__repo_root" -mindepth 1 -maxdepth 2 -type d -name 'local' -printf '%P\n')
)

# append bin directories to PATH if they don't already exist
__path_add() {
  for dir in "$@"; do
    if [ -d "$dir" ] && [[ ":$PATH:" != *":$dir:"* ]]; then
      PATH="${PATH:+"$PATH:"}$dir"
    fi  
  done
}

# append lib directories to PERL5LIB if they don't already exist
__perl5lib_add() {
  for dir in "$@"; do
    if [ -d "$dir" ] && [[ ":$PERL5LIB:" != *":$dir:"* ]]; then
      PERL5LIB="${PERL5LIB:+"$PERL5LIB:"}$dir"
    fi  
  done
}

_perl5lib_relative() {
  PERL5LIB="$PERL5LIB:lib"
}

__install() {
  for dir in "${__local_dirs[@]}"; do
    __path_add "$__repo_root/$dir/bin"
  done
  for dir in "${__local_dirs[@]}"; do
    __perl5lib_add "$__repo_root/$dir/lib/perl5"
  done
  _perl5lib_relative
}

__install

export PATH PERL5LIB

# tidy up
unset __repo_root
unset __local_dirs
unset -f __path_add
unset -f __perl5lib_add
unset -f __perl5lib_relative
unset -f __install
